{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Always Learning</h1>
            <span class="subheading">To register sent registration fee of 10$ or Ksh.1000 via 0716071101.You will receive login email and password. Use it to log in and you will no longer feel overwhelmed about remote learning.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

        {% endfor %}

        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}